.about-header {
    font-size: 30px;
    text-align: center;
}

.aboutImage {
    display: flex;
    justify-content: center
}

.aboutImage img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.about-text {
    padding: 20px 30px;
}

.about-text h3 {
    color: brown;
    text-align: center;
}