.signUpButtonParent {
    text-align: center;
}

.signUpButton {
    background-color: rgb(47, 255, 141);
    padding: 1% 14%;
    border-radius: 13px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}