.ordered-product {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

/* 
responsive for 
mobile
*/
@media only screen and (max-width:688px) {
    .ordered-product {
        display: flex;
        flex-direction: column;
    }

    .order-form {
        padding: 0px 20px;
    }
}