/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


/*
-----------------
 Common Part
-----------------
 */

main{
    padding: 5%;
}
body{
    font-family: Poppins;
    background-color: #FFFFFF;
    margin: 0%;
}
hr{
    width: 1110px;
    border: 1px solid rgba(192, 204, 218, 0.322);
}
 
.container{
    width: 1150px;
    height: 100vh;
}
.button{
    width: 196px;
    height: 44px;
    font-size: 16px;
    color: #FFFFFF;
    background-color:  #E02C6D;;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 41px;
}
.fa-arrow-right{
    margin: 0px 8px;
}

/* 
-------------------
 top banner part 
 ------------------
 */

.baner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 130px;
}

.banner-title{
    font-size: 52px;
    line-height: 135%;
    color: #3A3A3A;
}
.banner-text{
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
}
.banner-photo{
    width: 475px;
    height: 475px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
}
.banner-photo img{
    width: 440px;
    height: 414px;
}

/* clients area */
.clients{
    display: flex;
    justify-content: space-around;
    padding: 20px 36px;

}
.clients img{
    width: 84px;
    height: 26px;
}

/* 
-----------------------
Popular Collection
------------------------
 */
 .popular-collection-part{
     display: grid;
     justify-content: center;
 }
.popular-collection-part>h1{
    font-size: 28px;
    color: #3A3A3A;
    text-align: center;
}
.collections{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}
.collection-card{
    width: 329px;
    height: 476px;
    padding: 15px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    
}
.procuct-photo{
    width: 300px;
    height: 256px;
    box-sizing: border-box;
}

.product-name{
    font-size: 28px;
    color: #18191F;
    margin: 16px 0px 6px 0px;
}
.product-price{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0px;
}
.fa-star{
    font-size: 12px;
}
.fill{
    color: Orange;
}
.rate-point{
    font-size: 14px;
    margin-top: 5px;
}
.info{
    font-size: 14px;
    color: #787885;
    margin: 0px;
    padding-top: 5px;
}
.side-link{
    text-decoration: none;
    color: #E02C6DDE;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
}

/* 
--------------
Feature Section 
---------------
*/
.featured-part{
    display: grid;
    justify-items: center;
}
.feature{
    width: 1110px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
}
.feature-photo{
    width: 404px;
    height: 270px;
    border-radius: 7px;
}
.feature-text-title{
    font-size: 38px;
}
.feature-button{
    width: 155px;
    height: 44px;
    font-size: 16px;
    color: #FFFFFF;
    background-color:  #E02C6D;;
    text-decoration: none;
    padding: 10px 24px;
}

/* 
-------------
Fotter Section
--------------
 */
 footer{
    color: white;
    height: 239px;
    background-color: #0A0826;
    margin: 0px;
    padding: 0px;
    display: grid;
    text-align: center;
    align-content: space-evenly;
 }
 .footer-title>h1{
    font-size: 24px;
    margin: 0px;
 }
 .copyright>p{
     color: #D9DBE1;
     margin: 0px;
 }
 .social-media{
     display: flex;
     flex-direction: row;
     justify-content: center;
     column-gap: 16px;
 }
 .social img{
    width: 20px;
 }